.heading {
    text-align: center;
}

.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: inline-block;
    margin-bottom: 2px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--border-color);
}

.form-message {
    display: none;
}

.form-message.active {
    display: block;
    position: relative;
    left: 12px;
    color: #f70000;
    font-size: 1.2rem;
}

.btn {
    color: var(--white) !important;
    background-color: #2797f2;
}
