.wrapper {
    height: 100%;
    padding: 1.6rem 0.8rem 1.6rem 4.8rem;
    width: 300px;
}

.user {
    display: flex;
    margin-bottom: 2.4rem;
}

.user-avt {
    border-radius: 50%;
    height: 56px;
    min-width: 56px;
    width: 56px;
    border: 0.1rem solid var(--border-color);
}

.user-name {
    font-weight: 500;
}

.user-description {
    margin-top: 0.4rem;
    margin-left: 1.6rem;
}

.nav {
    margin-bottom: 2.4rem;
}

.nav-item {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    display: block;
    padding: 0.8rem;
    color: var(--reverse-color);
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0);
}

.nav-item.focus {
    border-bottom-color: var(--dynamic-color);
}

.nav-item.focus,
.nav-item:hover {
    color: var(--dynamic-color);
}

// Sidebar item
.sidebar-item {
    display: flex;
    margin-bottom: 2px;
    padding: 12px 8px;
    color: var(--text-color);
    border-radius: 3px;

    &:hover {
        background-color: rgba(var(--accent-rgb), 0.1);
        color: var(--accent-color);
    }

    .left-icon {
        margin-right: 12px;
    }
}

.sidebar-item.focus {
    background-color: rgba(var(--accent-rgb), 0.1);
    color: var(--accent-color);
}
