.wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--text-color);

    &:hover {
        border-color: #666;
        cursor: pointer;
    }
    margin-top: 8px;
    border: 1px solid #999;
}

.staff-avt {
    height: 52px;
    object-fit: contain;
}

.body {
    margin-left: 12px;
}
