.wrapper {
    text-align: center;
}

.heading {
    margin-bottom: 12px;
}

.input-wrapper {
    margin-bottom: 4px;
    text-align: start;
    display: inline-block;

    label {
        display: inline-block;
        text-align: end;
        min-width: 124px;
        margin-right: 4px;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #ccc;
    border: 1px solid #333;
    padding: 4px;
    min-width: 30px;
    display: block;

    & + .btn {
        margin-left: 4px;
    }
}
