.center-horizontal {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin: auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;

    input,
    select {
        width: 100%;
        padding: 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.main-heading {
    text-align: center;
    margin-bottom: 8px;
}

.room-wrapper {
    display: flex;
}

.room-image {
    padding-top: 20%;
    width: 30%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThMKzonrXOUCtFwrLG-SO3NzYrQS1Sz-Ak8w&s');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.room-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding-left: 20px;
}

.room-name {
    font-size: 2.4rem;
}

.room-body-container {
    margin: 10px 0;
}

.room-size {
}

.icon {
}

.bed-detail {
    margin-left: 12px;
}

.room-reservation-information {
}

.room-price {
    margin: 10px 0;
}

.reservation-information,
.booker-information {
    margin: 0 16px;
}

.heading {
    margin-top: 12px;
}

.input-with-label {
    display: flex;
    align-items: center;

    input,
    select {
        flex: 1;
        margin-left: 12px;
    }
}

.btn {
    margin-top: 12px;
}

.room-state-wrapper {
    display: flex;
    align-items: center;
}

.room-state {
    margin-left: 8px;
}
