.center-horizontal {
    display: flex;
    justify-content: center;
}

.wrapper {
}

.main-heading {
    text-align: center;
    margin-bottom: 8px;
}

.room-wrapper {
    display: flex;
}

.room-image {
    padding-top: 20%;
    width: 30%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThMKzonrXOUCtFwrLG-SO3NzYrQS1Sz-Ak8w&s');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.room-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    padding-left: 20px;
}

.room-name {
    font-size: 2.4rem;
}

.room-body-container {
    margin: 10px 0;
}

.room-size {
}

.icon {
}

.bed-detail {
    margin-left: 12px;
}

.room-reservation-information {
}

.room-price {
    margin: 10px 0;
}

.reservation-information,
.guest-information {
    margin: 0 16px;
}

.heading-wrapper {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.edit-btn,
.cancel-btn {
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 2px 4px;
    font-size: 1.4rem;
    border-radius: 12px;
    color: var(--white);
}

.edit-btn {
    background-color: #2797f2;
}

.cancel-btn {
    background-color: #f2493d;
}

.edit-icon,
.cancel-icon {
    margin-left: 4px;
}

.btn-wrapper {
    display: flex;
    justify-content: end;
}

.btn {
    margin-top: 12px;
}

.room-state-wrapper {
    display: flex;
    align-items: center;
}

.room-state {
    margin-left: 8px;
}
