.wrapper {
    &:hover {
        transform: translateY(-2px);
        transition: transform 0.2s;
        cursor: pointer;
        box-shadow: 0 4px 8px #0000001a;
    }
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    color: var(--text-color);
    display: block;
}

.room-image {
    padding-top: 50%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThMKzonrXOUCtFwrLG-SO3NzYrQS1Sz-Ak8w&s');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.body {
    background-color: var(--white);
    padding: 16px;
    font-size: 1.4rem;
}

.body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.room-name {
    font-size: 2rem;
}

.room-number {
    font-size: 2rem;
    font-weight: 600;
}

.room-size {
    display: flex;
    align-items: center;
}

.bed-detail {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.icon {
    margin-right: 4px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.price {
    span {
        display: block;
        color: #1ec700;
        font-size: 1.8rem;
    }
}
