.wrapper {
}

.form-group {
    margin-bottom: 16px;
}

.form-label {
    display: inline-block;
    margin-bottom: 6px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border-radius: 0.8rem;
    //border: 0.1rem solid var(--border-color);
    background-color:rgb(239, 238, 237); //mau giong mau nen nhung khong thay
    border-bottom: 1px solid #392859;
}

.form-group__password {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        justify-content: space-between;

        a {
            color: var(--primary);
            font-size: 1.4rem;
        }
    }
}

.form-checkbox {
    width: 16px;
    height: 16px;
    margin: 0 8px;
}
.center {
    display: flex;
    justify-content: center;
}
.main-button {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    padding: 14px 16px;
    width: 45%;
    position: relative;
    background: var(--primary);
    border-radius: 0.8rem;
    margin: 16px 0 28px;
    &:hover {
        background-color: #392859;
        cursor: pointer;
    }
}

.above-footer {
    display: flex;
    justify-content: center;
    margin: 1.6rem 0;

    a {
        margin-left: 0.8rem;
    }

    span {
        color: var(--text-muted-color);
    }
}
