.wrapper {
    font-size: 1.8rem;
    padding: 12px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    &.normal {
        color: var(--text-color);
        background-color: var(--white);

        &:hover {
            color: var(--accent-color);
            text-decoration: underline;
        }
        transition: color 0.2s;
    }

    &.primary {
        color: var(--white);
        float: right;
        &:hover {
            opacity: 0.7;
        }

        &.room-type {
            background-color: var(--accent-color);
        }
        &.check-in {
            background-color: #ff5900;
        }
        &.check-out {
            background-color: #1ec700;
        }
        &.confirm {
            background-color: #2797f2;
        }
    }

    & + .wrapper {
        margin-left: 20px;
    }

    &.disabled {
        opacity: 0.7;
        pointer-events: none;
    }
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
