.wrapper {
    display: flex;
    padding: 0.8rem 4.8rem;
    align-items: center;
}

.hide-side-bar-btn {
    padding-right: 0.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hide-side-bar-icon {
    fill: rgb(224, 81, 112);
}

.logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        padding: 4px 20px;
    }
}

// .search-box {
//     flex: 1;
// }

.action-wrapper {
    display: flex;
}

.action {
    padding: 0.64rem 1.04rem;
    display: flex;
    align-items: center;
    color: var(--bs-gray-600);

    &:hover {
        > svg {
            color: var(--primary);
        }
        cursor: pointer;
    }
}

.action__change-background {
    position: relative;
}

.action__change-background:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white);
    border: 0.1rem solid rgba(0, 0, 0, 0.175);
    color: #212529;
    border-radius: 1.6rem;
    padding: 0.8rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.4rem 1.6rem;
    min-width: 14rem;
    height: 3.2rem;
    border-radius: 80rem;
    color: var(--bs-gray-600);

    svg {
        margin-right: 1.6rem;
    }

    span {
        flex: 1;
        text-align: left;
        font-size: 1.6rem;
    }

    &:hover {
        background: rgba(var(--primary-rgb), 0.1);
        color: var(--primary);
        svg {
            color: var(--primary);
        }
        cursor: pointer;
    }
}

.divider {
    display: block;
    width: 0.1rem;
    height: 1.6rem;
    background-color: rgb(33, 37, 41);
    opacity: 0.25;
    margin: 0 0.8rem;
}

.user {
    display: flex;
}

.user-avt {
    border: 0.1rem solid var(--border-color);
    border-radius: 50%;
    height: 38px;
    min-width: 38px;
    width: 38px;
    margin-left: 1.6rem;
}

.user-name {
    margin: auto 0 auto 0.8rem;
    color: var(--bs-gray-600);

    &:hover {
        color: var(--primary);
        cursor: pointer;
    }
}
