.wrapper {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 8px;
}

.search-wrapper {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 999px;
    background-color: var(--white);
    border: 1px solid #666;
    width: 400px;

    input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 1.6rem;
        margin-left: 8px;
    }
}

.list-header {
    margin-bottom: 4px;

    p {
        font-weight: 600;
        font-size: 1.7rem;
    }
}
