.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 16px;
    border-radius: 999px;
}

.label {
    font-size: 2.4rem;
    color: #242424;
    font-weight: 900;
}

.icon-wrapper {
    background-color: #1473e6;
    border-radius: 50%;
    display: inline-block;
    margin-left: 8px;
    padding: 4px;
}

.icon {
    color: var(--white);
    display: block;
    width: 1.6rem;
    height: 1.6rem;
}

.btn {
    position: relative;
    top: 4px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    padding: 6px 12px;
    color: var(--white);
    background-color: #1473e6;
    font-size: 1.6rem;

    &:hover {
        opacity: 0.8;
    }

    &:hover .btn-icon {
        transform: translate(4px, -1px);
    }
}

.btn-icon {
    position: relative;
    height: 14px;
    margin-left: 8px;
    transition: all 0.2s;
    transform: translateY(-1px);
}
