.input-with-label {
    display: flex;
    align-items: center;

    input,
    select {
        flex: 1;
        margin-left: 12px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.edit-btn,
.cancel-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 4px 8px;
    color: var(--white);
    border-radius: 12px;
}

.edit-btn {
    background-color: #2797f2;
}

.cancel-btn {
    background-color: #f2493d;
}

.icon {
    margin-left: 4px;
}

.avt-wrapper {
    margin: 0 auto;
}

.staff-avt {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 20px;
}

.btn-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
